<% @title = "Homepage"%>


<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Intagram!</h1>
		<% if signed_in? %>
			<h2><%= current_user.username %></h2>
		<% else %>
			<%= link_to "Sign in", login_path %> | 
			<%= link_to "Register", signup_path %>
			
		<% end %>
	</div>
</div>